//Abstracts
@import "../abstracts/variables";

main {
  border-top: 1px $secundaryColor;
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 89vh;

  .FirstSection {
    border-top: 1px solid $secundaryColor;
    background-color: beige;
    padding-top: 10px;
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;


    .SectionTextLeft {
      margin-left: 5%;
      margin-right: 3%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .mainImageRight {
      margin-left: 6%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      object-fit: contain;
    }
  }

  .SecondSection {

    @extend .FirstSection;
    padding-top: 10px;
    background-color: $secundaryColor;
    flex-direction: row-reverse;
    padding-bottom: 10px;

    h1 {
      color: rgba(245, 245, 220, 0.751);
    }

    .SectionTextRigh {
      margin-left: 3%;
      margin-right: 5%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .mainImageLeft {
      margin-right: 6%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      object-fit: contain;
    }
  }
}
