.grid {
    display: grid;
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
    min-height: 100%;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 40px 75vh auto;
  }