//Abstracts
@use '../abstracts/variables' as variables;


@mixin flex-row{
  display: flex;
  flex-direction: row;
}


  nav {
    background-color: $secundaryColor;
    height: 0.5fr;
    align-items: right;
 

    ul {
      @include flex-row;
      justify-content: space-around;
      align-items: center;
      height: 100%;

      li {
        display: inline;
        list-style: none;
        &:hover {
          background-color: white;
        }
      }
    }
  }

