
@mixin flex-row{
  display: flex;
  flex-direction: row;
}

header {
  @include flex-row;
  grid-area: header;
  justify-content: space-between;

  nav {
    height: 0.5fr;
    align-items: right;
    width: 60%;

    ul {
      @include flex-row;
      justify-content: space-around;
      align-items: center;
      height: 100%;

      li {
        display: inline;
        list-style: none;
        &:hover {
          background-color: white;
        }
      }
    }
  }
}
