//Base
@import "./base/reset";
@import "./base/foundation";

//Components
@import "./components/main";
@import "./components/logo";
@import "./components/menu";

//Layouts
@import "./layout/footer";
@import "./layout/header";

//Abstracts
@import "./abstracts/variables";


@media screen and (max-width: 568px) {
  body {
    height: 100%;
  }
  .grid {
    display: grid;
    grid-template-areas:
    "header  nav"
    "main main "
    "footer footer";
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  main {
    background-color: aquamarine;
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
  }
  .FirstSection {
    background-color: beige;
    padding-top: 10px;
    display: flex;
  }
  .SectionTextLeft {
    margin-left: 5%;
    margin-right: 3%;
    padding-bottom: 5%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mainImageRight {
    display: flex;
    flex-direction: row;
    
    margin-left: 3%;
    padding-bottom: 5%;
  }
  
  .SecondSection {
    padding-top: 10px;
    background-color: rgb(22, 53, 130);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    
    padding-bottom: 10px;
  }
  .SectionTextRigh {
    margin-left: 3%;
    margin-right: 5%;
    padding-bottom: 5%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .mainImageLeft {
    display: flex;
    flex-direction: row;
    
    margin-left: 3%;
    padding-bottom: 5%;
  }
  footer {
    border-top: 1px $secundaryColor;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $primaryColor;
    position: absolute;
    bottom: 0%;
    grid-area: footer;
    
    h3 {
      color: $secundaryColor;
    }
    a {
      color: $accentColor;
      text-decoration: none;
    }
  }
  .footerItem {
    flex-direction: column;
  }
}
